/*--------- fonts ---------*/
  
p {
    font-size: 1rem;
    font-family: 'Founders Grotesk', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.75rem; }

/*--------- Hero ---------*/

.heroOther {
    width: 100%;
    height: auto; }

.heroOther__box{
    height: auto;
    width: 90%;
    margin-left: 5%;
    padding-top: 120px; }   

.hero__Othertitle {
    width: 100%;
    margin: 20px 0 30px 0; }

.hero__OtherTxt {
    width: 100%;
    margin-bottom: 50px;
    display: inline-flex; 
    flex-wrap: wrap;  }

    .hero__OtherTxt span {
        margin-right: 10px;
        margin-bottom: 10px; }

/*--------- Image init---------*/

.imginit {
    width: 100%;
    height: auto; }

.imginit__box {
    width: 100%;
    height: 500px; }

    .imginit__box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }

/*---------Text Module (see style.css) ---------*/

/*--------- The mission --------*/

.mission {
    width: 100%;
    height: auto; }

.mission__imgbox {
    width: 100%;
    height: auto; }       
  
    .mission__imgbox img {
        width: 100%;
        height: 100%;
        object-fit: cover;  }

/*--------- Inhale text --------*/

.inhaletxt {
    width: 100%;
    height: auto; }
  
  .inhaletxt__box {
    width: 100%;
    height: auto;
    background-color: #F9F9F9; }     
    
    .inhaletxt__txtbox {
        width: 75%;
        margin-left: 12.5%;
        padding-top: 150px;
        padding-bottom: 150px; }
  
        .inhaletxt__txtbox h3 {
            width: 80%;
            height: auto; 
            margin-bottom: 40px;}
  
    .inhaletxt__txt {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
        column-gap: 80px;  }  

/*--------- Inhale --------*/

.inhale {
    width: 100%;
    height: auto;
    background-color: #151B35;  }

.inhale__imgbox {
    width: 100%;
    height: auto; }       

    .inhale__img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }          

/*--------- The logo --------*/

.logo {
    width: 100%;
    height: auto; }

.logo__box {
    width: 100%;
    height: auto;
    background-color: #F9F9F9; }     
    
    .logo__txtbox {
        width: 75%;
        margin-left: 12.5%;
        padding-top: 150px;
        padding-bottom: 150px; }

        .logo__txtbox h3 {
            width: 80%;
            max-width: 350px;
            height: auto; 
            margin-bottom: 40px;}

        .logo__txtbox img {
            width: 100%;
            height: 100%;
            object-fit: cover;}

    .logo__txt {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 2fr; 
        margin-bottom: 150px; }

/*--------- Typography --------*/

.typography {
    width: 100%;
    height: auto; }

.typography__box {
    height: auto;
    width: 100%;
    background-color: #365FDB; }     
    
.typography__txt{
    width: 75%;
    margin-left: 12.5%;
    padding-top: 230px;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr; }        
    
    .typography__txtlef {
        width: 80%;
        max-width: 370px;
        align-self: flex-end; }

        .typography__txtlef h3 {
            color: #F9F9F9;
            margin-bottom: 20px;}

            .typography__txtlef p {
                color: #F9F9F9;}

    .typography__txtrig {
        width: 100%;
        align-self: flex-end;  }

        .typography__txtrig h3 {
            font-size: 2rem;
            font-family: 'Nunito', sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 2.25rem;
            color: #F9F9F9;
            margin-bottom: 80px; }

        .typography__txtrig h2 {
            font-size: 3.25rem;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            line-height: 4rem;
            color: #F9F9F9;
            text-transform: uppercase;
            margin-bottom: 30px; }

        .typography__txtrig p {
            font-size: 1rem;
            font-family: 'Work Sans';
            font-weight: 400;
            line-height: 1.25rem;
            color: #F9F9F9; 
            margin-bottom: 45px; }

        .typography__txtrig span {
            font-size: 1.5rem;
            font-family: 'Nunito', sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 2rem;
            color: #F9F9F9; }

/*--------- Colors --------*/

.colors {
    width: 100%;
    height: auto; }

.colors__box {
    width: 100%;
    height: auto; }     
    
    .colors__txtbox {
        width: 75%;
        margin-left: 12.5%;
        padding-top: 150px;
        padding-bottom: 150px; }

        .colors__txtbox h3 {
            width: 80%;
            height: auto; 
            margin-bottom: 40px;}

    .colors__txt {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
        column-gap: 80px;  }
        
        .colors__txtdark {
            color: #193388; }

        .colors__txtblue {
            color: #365FDB; }

        .colors__txtgrey {
            color: #e6e6e6; }

    .colors__circlebox {
        width: 75%;
        margin-left: 12.5%;
        padding-bottom: 150px;
        height: auto;
        display: inline-flex; 
        flex-wrap: wrap; 
        justify-content: space-around;
        gap: 10px; }

        .colors__circlebox h4 {
            font-size: 1.5rem;
            margin-bottom: 10px; }

        .colors__circle1 {
            text-align: center; } 

            .colors__color1 {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                background-color: #141b34;
                margin-bottom: 60px; }  

        .colors__circle2 {
            text-align: center; } 

            .colors__color2 {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                background-color: #365FDC;
                margin-bottom: 60px; }  

        .colors__circle3 {
            text-align: center; } 

            .colors__color3 {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                background-color: #183387;
                margin-bottom: 60px; }  

        .colors__circle4 {
            text-align: center; } 

            .colors__color4 {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                background-color: #AADFFA;
                margin-bottom: 60px; }  

        .colors__circle5 {
            text-align: center; } 

            .colors__color5 {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                background-color: #F9F9F9;
                margin-bottom: 60px; }  

    .colors__imgbox {
        width: 100%;
        height: auto; }       
    
        .colors__img img {
            width: 100%;
            height: 100%;
            object-fit: cover; } 

/*--------- The App --------*/

.app {
    width: 100%;
    height: auto; }

.app__box {
    width: 100%;
    height: auto;
    background-color: #F9F9F9;
    position: relative;  }     
    
    .app__txt {
        width: auto;
        margin-left: 12.5%;
        padding-top: 100px;
        position: absolute; }

        .app__txt h3 {
            width: 300px;
            height: auto; 
            margin-bottom: 50px;}

        .app__txt p {
            width: 300px;
            height: auto; 
            margin-bottom: 50px;}

    .app__img {
        width: 60%;
        height: auto;
        margin-left: 27.5%;
        padding-top: 220px;
        padding-bottom: 100px; }       
    
        .app__img img {
            width: 100%;
            height: 100%;
            object-fit: cover; } 

/*--------- Going Digital --------*/

.gdigital {
    width: 100%;
    height: auto; }

.gdigital__box {
    width: 100%;
    height: auto;
    background-color: #365FDB;  }  

    .gdigital__img {
        width: 100%;
        height: auto;
        padding-top: 220px; }       

        .gdigital__img img {
            width: 100%;
            height: 100%;
            object-fit: cover; } 

    .gdigital__txtbox {
        width: 75%;
        margin-left: 12.5%;
        padding-top: 100px;
        padding-bottom: 170px; }

        .gdigital__txtbox h3 {
            width: 80%;
            height: auto; 
            margin-bottom: 40px;
            color: #FFFFFF;}

    .gdigital__txt {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
        column-gap: 80px;  }

        .gdigital__txt p {
            color: #FFFFFF; }

    .gdigital__imglarge {
        width: 75%;
        height: auto;
        margin-left: 12.5%;
        padding-bottom: 180px; }       

        .gdigital__imglarge img {
            width: 100%;
            height: 100%;
            object-fit: cover; } 

/* --------  @ MEDIA --------- */

@media (max-width: 1024px) {        
    
    .inhaletxt__txt {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        column-gap: 80px;  
        row-gap: 50px;}  

    .logo__txt {
        grid-template-columns: 1fr 0; 
        margin-bottom: 80px; }

    .typography__txt{
        padding-top: 150px;
        padding-bottom: 150px;
        grid-template-columns: 1fr; 
        grid-template-rows: max-content max-content;
        row-gap: 150px;} 

    .colors__txt {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        row-gap: 50px; } 

    .colors__circlebox {
        padding-bottom: 100px; }
            
        .colors__circle1 {
            margin-bottom: 50px; }      
        
            .colors__circle2 {
                margin-bottom: 50px; }  

                .colors__circle3 {
                    margin-bottom: 50px; }  

                    .colors__circle4 {
                        margin-bottom: 50px; }  

                        .colors__circle5 {
                            margin-bottom: 50px; }  

    .app__txt {
        width: 75%;
        margin-left: 12.5%;
        padding-top: 150px;
        position: relative; }    
        
        .app__txt h3 {
            width: 100%; }

        .app__txt p {
            width: 100%; }

    .app__img {
        width: 75%;
        height: auto;
        margin-left: 12.5%;
        padding-top: 30px;
        padding-bottom: 150px; }    

    .gdigital__img {
        padding-top: 150px; }   

    .gdigital__txtbox {
        padding-top: 150px;
        padding-bottom: 150px; }

        .gdigital__txt {
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content ;
            row-gap: 50px;  }

        .gdigital__imglarge {
            width: 90%;
            height: auto;
            margin-left: 5%;
            padding-bottom: 150px; }    

}