/*--------- fonts ---------*/
  
p {
    font-size: 1rem;
    font-family: 'Founders Grotesk', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.75rem; }
    
/*--------- Hero ---------*/

.heroOther {
    width: 100%;
    height: auto; }

.heroOther__box{
    height: auto;
    width: 90%;
    margin-left: 5%;
    padding-top: 120px; }   

.hero__Othertitle {
    width: 100%;
    margin: 20px 0 30px 0; }

.hero__OtherTxt {
    width: 100%;
    margin-bottom: 50px;
    display: inline-flex; 
    flex-wrap: wrap;  }

    .hero__OtherTxt span {
        margin-right: 10px;
        margin-bottom: 10px; }

/*--------- Illustations---------*/

.pictures {
    width: 100%;
    height: auto; }

.pictures__all {
    width: 100%;
    height: 500px; }

    .pictures__all img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }

.pictures__half {
    width: 100%;
    height: auto; 
    display: grid;
    grid-template-columns: 1fr 1fr; }

    .pictures__half img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.pictures__plant {
    width: 100%;
    height: auto; }

    .pictures__plant img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

