/*--------- general ---------*/

*  {margin: 0;
    padding: 0;
    }

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  }

body {
    background-color:#FFFFFF;
    color: #000000;
    overflow-x: hidden;
    transition: .3s ease all;
  }
::-moz-selection { /* Code for Firefox */
    color: #FFFFFF;
    background: #365FDB;
  }
::selection {
    color: #FFFFFF;
    background: #365FDB;
  }

/*--------- a link ---------*/

a  {
  text-decoration: none; }
  
a:link {
  color: #000000; }

a:visited {
  color: #000000; }

a:active {
  color: #000000;
  font-weight: 600; }

.aLink {
  position: relative;
  white-space: nowrap;
  padding-bottom: 3px;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.aLink::before,
.aLink::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none; }

.aLink::before {
  content: '';
  /* show by default */ }

.aLink--under::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 2, 1);
  transition: transform 0.3s; }

.aLink--under:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 2, 1); }

/*--------- button ---------*/

.btn__active{
    font-family: 'Founders Grotesk', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 46px;
    border: 1px solid #000000;
    padding: 14px 30px 16px 30px;
    background: none;
    border-radius: 23px;
    transition: .5s ease all; }

.btn__active:hover {
    background-color: #000000; 
    border: 1px solid  #000000;  }

.btn__active a {
    transition: .5s ease all;  }

.btn__active svg {
    fill: #000000;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: 5px;
    transition: .5s ease all;  }

.btn__active:hover>a {
    color:  #FFFFFF; }

.btn__active:hover svg {
    fill: #FFFFFF; }

/*--------- forms ---------*/

label {
  font-family: 'Founders Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

textarea {
  font-family: 'Founders Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 98.5%;
  min-height: 90px;
  border: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none;
  background-color: transparent; 
  padding-left: 2px;
  padding-top: 5px;
  color:  #6e6e6e; }

input:invalid {
  border: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: none; }

input {
    font-family: 'Founders Grotesk', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    width: 98%;
    height: 30px;
    border: 1px solid #000000;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
    background-color: transparent; 
    padding-left: 2px;
    padding-top: 4px;
    color: #6e6e6e;  }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px #FFFFFF inset !important;
    -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color:#6e6e6e  !important;
}

/*--------- line ---------*/

.line{
    height: 1px;
    width: 100%;
    background-color: #000000; }

/*--------- fonts ---------*/

@font-face {
  font-family: 'Modena Sans';
  src: url('../assets/fonts/Modena-Sans.otf');  }

@font-face {
  font-family: 'Founders Grotesk';
  src: url('../assets/fonts/FoundersGrotesk-Regular.otf');  }

.titleH1 {  
  font-family: 'Modena Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  line-height: 5.5rem; }

.titleH3 {  
  font-family: 'Founders Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 5px;
  text-transform: uppercase; }

.navLogo {
  font-size: 1.5rem;
  font-family: 'Founders Grotesk', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5rem;
  text-transform: uppercase; } 

.navLinks {
  font-size: 0.95rem;
  font-family: 'Founders Grotesk', sans-serif;
  letter-spacing: 2px;
  line-height: 1.5rem;
  text-transform: uppercase; }

h4 {  
  font-family: 'Founders Grotesk', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

h5 {
  font-size: 0.8rem;
  font-family: 'Founders Grotesk', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1rem; }

p {
  font-size: 0.8rem;
  font-family: 'Founders Grotesk', sans-serif;
  letter-spacing: 0.5px;
  line-height: 1rem; }

/*--------- header_nav ---------*/

.header {
  width: 100%;
  height: auto; }

.header__navbox {
  height: 40px;
  width: 100%; }

.header__nav {
  height: 16px;
  width: 90%;
  left: 5%;
  position: relative;
  top: 20px; }

  .header__nav ul {
    list-style: none;
    float: right; }
  
  .header__nav ul li {
    display: inline-block; } 

.header__logo {
  height: 25px;
  width: 15%;
  left: 0;
  top: 0; 
  text-align: left;
  position: absolute;  } 

.header__links {
  height: 25px;
  width: 70%;
  left: 15%;
  text-align: center;
  position: absolute; } 

.header__linksSpace {
  margin: 0 150px 0 150px; } 

.header__linkContact {
  height: 25px;
  width: 15%;
  right: 0;
  text-align: right;
  position: absolute; } 

/*--------- Hero ---------*/

.hero {
  width: 100%;
  height: auto; }

.hero__box{
  height: auto;
  width: 90%;
  margin-left: 5%; }

.hero__title {
  width: 100%;
  margin: 70px 0 60px 0; }

    .hero__titleTxt {
      width: 70%;
      margin-left: 15%;
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 1.3fr 1fr;
      justify-items: start;
      justify-content: start;
      align-items: flex-end ; }

.hero__titleTxtLg {
  width: 280px; }

    .hero__titleTxtSm {
      float: inline-start;  }

    .hero__titleTxtSm p {
      display: inline-block;
      margin-right: 70px;  }

.hero__imgbox {
  height: auto;
  width: 100%;  }

    .hero__img {
      max-height: 470px;
      width: 100%;
      object-fit: cover; 
      object-position: top; }

.hero__subtitle {
  height: 65px;
  width: 90%;
  margin: 60px 2.5% 50px 5%;
  position: relative;  }

  .hero__subtitle h3 {
    height: auto;
    width: 250px;
    left: 0;
    bottom: 0;
    position: absolute; }

  .hero__subtitle p {
    height: auto;
    width: 220px;
    right: 340px;
    bottom: 0;
    position: absolute; }

  .hero__subtitle button {
    right:0;
    bottom: 0.5rem;
    position: absolute;
    text-align: right; }

/*--------- mod - Left ---------*/

.modLeft {
  width: 100%;
  height: auto; }

.modLeft__box {
  width: 95%;
  margin: 40px 0 40px 5%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: start;
  justify-content: start;
  column-gap: 20px; }

.modLeft__txt {
  width: 100%;
  height: 100%;
  position: relative; }

  .modLeft__txt h3{
    margin-top: 25px; }

  .modLeft__table {
    display: grid;
    grid-template-columns: 260px 100px;
    grid-template-rows: 30px 30px;
    justify-items: start;
    justify-content: start;
    position: absolute; 
    bottom: 120px; }  

  .modLeft__txt button {
    position: absolute;
    bottom: 0;  }

.modLeft__imgbox {
  width: 380px;
  height: 500px;  }

  .modLeft__imgbox img {
    width: 100%;
    height: 100%; 
    object-fit: cover; }

/*--------- mod - Left - Single img ---------*/

.modLeft__boxSgl {
  width: 95%;
  margin: 40px 0 40px 5%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-items: start;
  justify-content: start;
  column-gap: 20px; }

.modLeft__imgboxSgl {
  width: 820px;
  height: 500px;  }

  .modLeft__imgboxSgl img {
    width: 100%;
    height: 100%; 
    object-fit: cover; }

/*--------- mod - Right ---------*/

.modRight {
  width: 100%;
  height: auto; }

.modRight__box {
  width: 95%;
  margin: 40px 5% 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: start;
  justify-content: start;
  column-gap: 20px; }

.modRight__txt {
  width: 95%;
  height: 100%;
  margin-left: 50px;
  position: relative; }

  .modRight__txt h3{
    margin-top: 25px; }

  .modRight__table {
    display: grid;
    grid-template-columns: 260px 100px;
    grid-template-rows: 30px 30px;
    justify-items: start;
    justify-content: start;
    position: absolute; 
    bottom: 120px; }  

  .modRight__txt button {
    position: absolute;
    bottom: 0;  }

.modRight__imgbox {
  width: 380px;
  height: 500px; }

  .modRight__imgbox img {
      width: 100%;
      height: 100%; 
      object-fit: cover;}
  
/*--------- mod - Video ---------*/

.modVideo {
  width: 100%;
  height: auto; }

.modVideo__title {
  width: 95%;
  margin-left: 5%;
  height: auto; }

  .modVideo__title h3{
    padding-top: 90px;
    padding-bottom: 85px; }

.modVideo__video {
  width: 100%;
  height: 520px; }

.modVideo__txt {
  width: 90%;
  margin-left: 5%;
  height: 190px;
  position: relative; }

  .modVideo__txt p {
    width: 250px;
    position: absolute;
    left: 0; 
    bottom: 30px;}

  .modVideo__txtWeb {
    width: 250px;
    position: absolute;
    right: 250px; 
    bottom: 30px;}

  .modVideo__txtlink {
    width: 170px;
    position: absolute;
    right: 0; 
    bottom: 30px;}

/*--------- footer ---------*/

.footer {
  width: 100%;
  height: auto; }

.footer__box {
  width: 90%;
  height: 400px;
  margin: 70px 5% 100px 5%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  justify-content: start; }

  .footer__box h3 {
    margin-bottom: 80px; }

.footer__txt {
  width: 100%;
  height: 100%; }

  .footer__txtMail {
    margin-bottom: 40px; }
    
  .footer__txtSoc {
    margin-bottom: 10px; }

  .footer__txtCoun {
    position: absolute;
    left: 0;
    bottom: 20px; }

  .footer__txtZone {
    line-height: 1rem;
    position: absolute;
    left: 0;
    bottom: 0px; }

 .footer__form {
  width: 100%;
  height: 100%;
  display: block;
  top: 0%;
  position: relative; }

.footer__plinth {
  width: 100%;
  height: auto;
  background-color: #000000; }

.footer__plinthbox {
  width: 90%;
  margin-left: 5%;
  height: 70px; 
  position: relative;}

  .footer__plinthbox h3 {
    font-size: 1.5rem;
    font-family: 'Founders Grotesk', sans-serif;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-transform: uppercase; 
    color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 25px; }

  .footer__plinthbox h5 {
    text-transform: uppercase; 
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    padding-top: 30px; }

.footer__formTable {
  width: 100%;
  height: auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 25px 30px auto 25px 46px;
  grid-template-areas: "name email" "messname messmail"  ". ." "message message"
  "textarea textarea" ". ." "formbtn formbtn";
  column-gap: 20px;
  justify-items: start;
  justify-content: start; }

  .name {
    grid-area: name; }

  .email {
      grid-area: email; }

  .messname {
      grid-area: messname; }

  .messmail {
      grid-area: messmail; }

  .message {
      grid-area: message; }

  .textarea {
      grid-area: textarea; }

  .formbtn {
      grid-area: formbtn; }




  
/*--------- nav burguer ---------*/

  .header__burger input + label {
    position: fixed;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
    z-index: 5; }
    .header__burger input + label span {
      position: absolute;
      width: 100%;
      height: 2.5px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      display: block;
      background: #545454;
      transition: .5s; }
    .header__burger input + label span:first-child {
      top: 3px; }
    .header__burger input + label span:last-child {
      top: 17px; }
  
  .header__burger label:hover {
    cursor: pointer; }
  
  .header__burger input:checked + label span {
    opacity: 0;
    top: 50%; }
  
  .header__burger input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
    background-color: white; }
  
  .header__burger input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
    background-color: white; }
  
  .header__burger input ~ nav {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/861/891/non_2x/gray-cement-texture-free-photo.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    z-index: 4; }
    .header__burger input ~ nav > ul {
      text-align: center;
      list-style: none;
      position: absolute;
      top: 15%;
      left: 10%;
      right: 10%; }
      .header__burger input ~ nav > ul > li {
        opacity: 0;
        transition: .5s;
        transition-delay: 0s; }
        .header__burger input ~ nav > ul > li > a {
          text-decoration: none;
          align-self: center;
          color: white;
          font-size: 0.9rem;
          font-family: 'Montserrat', sans-serif;
          letter-spacing: 1.5px;
          line-height: 10vh;
          height: 10vh;
          display: block;
          border-top: 0.01rem solid white; }
          .header__burger input ~ nav > ul > li > a:hover {
            color: #f1c82e;
            transition: 1.5s; }
    .header__burger input ~ nav article {
      position: absolute;
      display: inline;
      text-align: center;
      bottom: 15px;
      width: 100%;
      z-index: 4;
      overflow: hidden; }
      .header__burger input ~ nav article > ul {
        list-style: none;
        height: 25px;
        margin: 0px; }
        .header__burger input ~ nav article > ul > li {
          display: inline;
          padding: 0px 12px; }
          .header__burger input ~ nav article > ul > li > a {
            color: white; }
            .header__burger input ~ nav article > ul > li > a:hover {
              color: #f1c82e;
              transition: 1.5s; }
    .header__burger input ~ nav img {
      width: 80px;
      height: 40px;
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 4; }
  
  .header__burger input ~ nav li ul {
    list-style: none;
    padding-bottom: 3vh; }
    .header__burger input ~ nav li ul > li {
      position: relative; }
      .header__burger input ~ nav li ul > li > a {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1.5px;
        line-height: 6vh;
        height: 6vh;
        display: block; }
        .header__burger input ~ nav li ul > li > a:hover {
          color: #f1c82e;
          transition: 1.5s; }
  
  .header__burger input:checked ~ nav {
    height: 100%;
    transition-delay: 0s; }
    .header__burger input:checked ~ nav > ul > li {
      opacity: 1;
      transition-delay: .5s; }
  
  .header__burger #burger {
    display: none; }
  
  .header__burger #linoborder {
    position: relative;
    border-top: none; }
  
  .header__burger #burgerback {
    position: fixed;
    top: 9px;
    right: 9px;
    height: 32px;
    width: 32px;
    z-index: 5;
    background-color: #f1c82e;
    border-radius: 16px; }
  