/*--------- Hero ---------*/

.heroOther {
    width: 100%;
    height: auto; }

.heroOther__box{
    height: auto;
    width: 90%;
    margin-left: 5%;
    padding-top: 120px; }   

.hero__Othertitle {
    width: 100%;
    margin: 20px 0 30px 0; }

.hero__OtherTxt {
    width: 100%;
    margin-bottom: 50px;
    display: inline-flex; 
    flex-wrap: wrap;  }

    .hero__OtherTxt span {
        margin-right: 10px;
        margin-bottom: 10px; }
    
/*--------- Text Module (see style.css) --------*/

/*--------- Illustations---------*/

.pictures {
    width: 100%;
    height: auto; }

.pictures__all {
    width: 100%;
    height: auto; }

    .pictures__all img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }

.pictures__legend {
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 230px 1fr max-content; }

    .pictures__legend h5 {
        line-height:1.5rem;
        max-width: 470px; }

.pictures__half {
    width: 100%;
    height: auto; 
    display: grid;
    grid-template-columns: 1fr 1fr; }

    .pictures__halfbox {
        width: 100%;
        height: auto; }

    .pictures__halfbox img {
        width: 100%;
        height: auto;
        object-fit: cover; }

.pictures__legendLef {
    width: 85%;
    height: auto;
    margin-left: 10%;
    padding-top: 30px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 170px 1fr max-content; 
    column-gap: 60px;}

    .pictures__legendLef h5 {
        line-height:1.5rem; }

.pictures__legendRig {
    width: 85%;
    height: auto;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 170px 1fr max-content; 
    column-gap: 60px;}

    .pictures__legendRig h5 {
        line-height:1.5rem; }

 
/* --------  @ MEDIA --------- */

@media (max-width: 768px) {

    .pictures__legend {
        grid-template-columns: 1fr; 
        grid-template-rows: max-content max-content max-content; 
        row-gap: 20px;}

    .pictures__half {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; }

    .pictures__legendLef, .pictures__legendRig {
        grid-template-columns: 1fr; 
        grid-template-rows: max-content max-content max-content; 
        row-gap: 20px;}

}

@media (min-width: 768px) and (max-width: 1180px) {

    .pictures__legendLef, .pictures__legendRig {
        grid-template-columns: 1fr; 
        grid-template-rows: max-content max-content max-content; 
        row-gap: 20px;}

  }
  